<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
type = "text/css"
rel="stylesheet">
<nav class="navbar navbar-expand-sm navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="users" class="nav-link" routerLinkActive="active">
        <i class="fa fa-home"></i>
        Registered users</a>
    </li>
    <li class="nav-item">
      <a routerLink="add" class="nav-link" routerLinkActive="active">
        <i class="fa fa-plus"></i>
        Add user</a>
    </li>
  </ul>
</nav>


<div class="container">
  <br>
  
  <h2 style="text-align: center; color: rgba(175, 14, 148, 0.596);">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>Developed By @Siham_AQQ</span>
  </div>
</footer>